# Import Excel data into DataFrame ( Py 2.7 )

In [29]:
import pandas as pd
from pandas import DataFrame

In [35]:
df1 = pd.read_excel(open('H2016.xlsx', 'rb'))

df1

,거래일자,시간,적요,출금,입금,내용,잔액,거래점
NaN,2016-12-30,16:07:23,인터넷,NaN,90000.0,이승미,9711268,죽전중
NaN,2016-12-30,07:48:24,유동CC,NaN,30000.0,이규원,9621268,천안중
NaN,2016-12-27,02:48:50,납부자,NaN,50000.0,004윤옥자,9591268,자금부
NaN,2016-12-17,04:41:21,이자,NaN,2291.0,09.14~12.16,9541268,죽전중
NaN,2016-12-08,16:48:23,인터넷,332100.0,NaN,관주 흥주 방문,9538977,죽전중
NaN,2016-12-08,16:48:22,인터넷,562000.0,NaN,관주 흥주 방문,9871077,죽전중
NaN,2016-11-30,07:49:05,유동CC,NaN,30000.0,이규원,10433077,천안중
NaN,2016-11-28,03:22:53,납부자,NaN,50000.0,004윤옥자,10403077,자금부
NaN,2016-10-31,07:49:03,유동CC,NaN,30000.0,이규원,10353077,천안중
NaN,2016-10-27,02:48:26,납부자,NaN,50000.0,004윤옥자,10323077,자금부
NaN,2016-10-14,11:42:25,인터넷,42800.0,NaN,캐나다고모모임,10273077,죽전중
NaN,2016-09-30,07:53:58,유동CC,NaN,30000.0,이규원,10315877,천안중
NaN,2016-09-27,02:52:27,납부자,NaN,50000.0,004윤옥자,10285877,자금부
NaN,2016-09-26,13:58:35,인터넷,NaN,30000.0,이승미,10235877,죽전중
NaN,2016-09-26,13:54:51,인터넷,373500.0,NaN,추석베베큐비용,10205877,죽전중
NaN,2016-09-26,13:54:51,인터넷,270000.0,NaN,추석팬션숙박,10579377,죽전중
NaN,2016-09-26,13:54:51,인터넷,500000.0,NaN,수동숙모위로금,10849377,죽전중
NaN,2016-09-26,13:54:51,인터넷,500000.0,NaN,승주네개원,11349377,죽전중
NaN,2016-09-14,10:33:04,CD송금,NaN,500000.0,장수강,11849377,동두천
NaN,2016-09-14,05:17:59,이자,NaN,2291.0,06.18~09.13,11349377,죽전중
NaN,2016-08-30,07:45:47,유동CC,NaN,30000.0,이규원,11347086,천안중
NaN,2016-08-29,03:03:39,납부자,NaN,50000.0,004윤옥자,11317086,자금부
NaN,2016-08-25,13:19:14,인터넷,NaN,90000.0,이승미,11267086,죽전중
NaN,2016-08-01,07:57:28,유동CC,NaN,30000.0,이규원,11177086,천안중
NaN,2016-07-27,02:51:13,납부자,NaN,50000.0,004윤옥자,11147086,자금부
NaN,2016-06-30,07:50:57,유동CC,NaN,30000.0,이규원,11097086,천안중
NaN,2016-06-27,04:29:31,납부자,NaN,50000.0,004윤옥자,11067086,자금부
NaN,2016-06-18,01:55:19,이자,NaN,1341.0,03.19~06.17,11017086,죽전중
NaN,2016-06-07,08:11:48,해지CC,NaN,5070378.0,이승미,11015745,죽전중
NaN,2016-05-30,12:55:15,인터넷,NaN,30000.0,이승미,5945367,죽전중
NaN,2016-05-30,08:13:03,유동CC,NaN,30000.0,이규원,5915367,천안중
NaN,2016-05-27,02:51:31,납부자,NaN,50000.0,004윤옥자,5885367,자금부
NaN,2016-05-02,08:34:06,유동CC,NaN,30000.0,이규원,5835367,천안중
NaN,2016-04-27,02:51:32,납부자,NaN,50000.0,004윤옥자,5805367,자금부
NaN,2016-04-26,13:52:40,인터넷,NaN,30000.0,이승미,5755367,죽전중
NaN,2016-04-22,10:58:54,CD이체,NaN,200000.0,정순주,5725367,동탄청
NaN,2016-03-30,19:29:27,유동CC,NaN,30000.0,이규원,5525367,천안중
NaN,2016-03-28,15:39:35,인터넷,60000.0,NaN,"지은, 윤학",5495367,죽전중
NaN,2016-03-28,15:37:00,인터넷,NaN,30000.0,이승미,5555367,죽전중
NaN,2016-03-28,03:44:13,납부자,NaN,50000.0,004윤옥자,5525367,자금부
NaN,2016-03-19,04:21:05,이자,NaN,1127.0,12.19~03.18,5475367,죽전중
NaN,2016-03-01,11:59:58,인터넷,300000.0,NaN,이승미,5474240,죽전중
NaN,2016-02-29,22:19:41,타행폰,NaN,300000.0,윤옥자,5774240,(국민)
NaN,2016-02-29,09:51:00,유동CC,NaN,30000.0,이규원,5474240,천안중
NaN,2016-02-29,03:50:10,납부자,NaN,50000.0,004윤옥자,5444240,자금부
NaN,2016-02-25,13:48:30,인터넷,NaN,60000.0,이승미,5394240,죽전중
NaN,2016-02-03,16:12:05,CD이체,NaN,100000.0,이예정,5334240,동탄청
NaN,2016-02-01,08:01:41,유동CC,NaN,30000.0,이규원,5234240,천안중
NaN,2016-01-27,02:57:02,납부자,NaN,50000.0,004윤옥자,5204240,자금부
NaN,2016-01-21,11:16:12,인터넷,30000.0,NaN,서영2015,5154240,죽전중

In [50]:
df1.index = range(len(df1))
df1

,거래일자,시간,적요,출금,입금,내용,잔액,거래점
0,2016-12-30,16:07:23,인터넷,NaN,90000.0,이승미,9711268,죽전중
1,2016-12-30,07:48:24,유동CC,NaN,30000.0,이규원,9621268,천안중
2,2016-12-27,02:48:50,납부자,NaN,50000.0,004윤옥자,9591268,자금부
3,2016-12-17,04:41:21,이자,NaN,2291.0,09.14~12.16,9541268,죽전중
4,2016-12-08,16:48:23,인터넷,332100.0,NaN,관주 흥주 방문,9538977,죽전중
5,2016-12-08,16:48:22,인터넷,562000.0,NaN,관주 흥주 방문,9871077,죽전중
6,2016-11-30,07:49:05,유동CC,NaN,30000.0,이규원,10433077,천안중
7,2016-11-28,03:22:53,납부자,NaN,50000.0,004윤옥자,10403077,자금부
8,2016-10-31,07:49:03,유동CC,NaN,30000.0,이규원,10353077,천안중
9,2016-10-27,02:48:26,납부자,NaN,50000.0,004윤옥자,10323077,자금부
10,2016-10-14,11:42:25,인터넷,42800.0,NaN,캐나다고모모임,10273077,죽전중
11,2016-09-30,07:53:58,유동CC,NaN,30000.0,이규원,10315877,천안중
12,2016-09-27,02:52:27,납부자,NaN,50000.0,004윤옥자,10285877,자금부
13,2016-09-26,13:58:35,인터넷,NaN,30000.0,이승미,10235877,죽전중
14,2016-09-26,13:54:51,인터넷,373500.0,NaN,추석베베큐비용,10205877,죽전중
15,2016-09-26,13:54:51,인터넷,270000.0,NaN,추석팬션숙박,10579377,죽전중
16,2016-09-26,13:54:51,인터넷,500000.0,NaN,수동숙모위로금,10849377,죽전중
17,2016-09-26,13:54:51,인터넷,500000.0,NaN,승주네개원,11349377,죽전중
18,2016-09-14,10:33:04,CD송금,NaN,500000.0,장수강,11849377,동두천
19,2016-09-14,05:17:59,이자,NaN,2291.0,06.18~09.13,11349377,죽전중
20,2016-08-30,07:45:47,유동CC,NaN,30000.0,이규원,11347086,천안중
21,2016-08-29,03:03:39,납부자,NaN,50000.0,004윤옥자,11317086,자금부
22,2016-08-25,13:19:14,인터넷,NaN,90000.0,이승미,11267086,죽전중
23,2016-08-01,07:57:28,유동CC,NaN,30000.0,이규원,11177086,천안중
24,2016-07-27,02:51:13,납부자,NaN,50000.0,004윤옥자,11147086,자금부
25,2016-06-30,07:50:57,유동CC,NaN,30000.0,이규원,11097086,천안중
26,2016-06-27,04:29:31,납부자,NaN,50000.0,004윤옥자,11067086,자금부
27,2016-06-18,01:55:19,이자,NaN,1341.0,03.19~06.17,11017086,죽전중
28,2016-06-07,08:11:48,해지CC,NaN,5070378.0,이승미,11015745,죽전중
29,2016-05-30,12:55:15,인터넷,NaN,30000.0,이승미,5945367,죽전중
30,2016-05-30,08:13:03,유동CC,NaN,30000.0,이규원,5915367,천안중
31,2016-05-27,02:51:31,납부자,NaN,50000.0,004윤옥자,5885367,자금부
32,2016-05-02,08:34:06,유동CC,NaN,30000.0,이규원,5835367,천안중
33,2016-04-27,02:51:32,납부자,NaN,50000.0,004윤옥자,5805367,자금부
34,2016-04-26,13:52:40,인터넷,NaN,30000.0,이승미,5755367,죽전중
35,2016-04-22,10:58:54,CD이체,NaN,200000.0,정순주,5725367,동탄청
36,2016-03-30,19:29:27,유동CC,NaN,30000.0,이규원,5525367,천안중
37,2016-03-28,15:39:35,인터넷,60000.0,NaN,"지은, 윤학",5495367,죽전중
38,2016-03-28,15:37:00,인터넷,NaN,30000.0,이승미,5555367,죽전중
39,2016-03-28,03:44:13,납부자,NaN,50000.0,004윤옥자,5525367,자금부
40,2016-03-19,04:21:05,이자,NaN,1127.0,12.19~03.18,5475367,죽전중
41,2016-03-01,11:59:58,인터넷,300000.0,NaN,이승미,5474240,죽전중
42,2016-02-29,22:19:41,타행폰,NaN,300000.0,윤옥자,5774240,(국민)
43,2016-02-29,09:51:00,유동CC,NaN,30000.0,이규원,5474240,천안중
44,2016-02-29,03:50:10,납부자,NaN,50000.0,004윤옥자,5444240,자금부
45,2016-02-25,13:48:30,인터넷,NaN,60000.0,이승미,5394240,죽전중
46,2016-02-03,16:12:05,CD이체,NaN,100000.0,이예정,5334240,동탄청
47,2016-02-01,08:01:41,유동CC,NaN,30000.0,이규원,5234240,천안중
48,2016-01-27,02:57:02,납부자,NaN,50000.0,004윤옥자,5204240,자금부
49,2016-01-21,11:16:12,인터넷,30000.0,NaN,서영2015,5154240,죽전중

In [51]:
df1[df1[u'출금'] > 0 ][[u'거래일자', u'출금', u'내용']]

          거래일자        출금        내용
4   2016-12-08  332100.0  관주 흥주 방문
5   2016-12-08  562000.0  관주 흥주 방문
10  2016-10-14   42800.0   캐나다고모모임
14  2016-09-26  373500.0   추석베베큐비용
15  2016-09-26  270000.0    추석팬션숙박
16  2016-09-26  500000.0   수동숙모위로금
17  2016-09-26  500000.0     승주네개원
37  2016-03-28   60000.0    지은, 윤학
41  2016-03-01  300000.0       이승미
49  2016-01-21   30000.0    서영2015

In [52]:
df1[df1[u'입금'] > 0 ][[u'거래일자', u'입금', u'내용']]

          거래일자         입금           내용
0   2016-12-30    90000.0          이승미
1   2016-12-30    30000.0          이규원
2   2016-12-27    50000.0       004윤옥자
3   2016-12-17     2291.0  09.14~12.16
6   2016-11-30    30000.0          이규원
7   2016-11-28    50000.0       004윤옥자
8   2016-10-31    30000.0          이규원
9   2016-10-27    50000.0       004윤옥자
11  2016-09-30    30000.0          이규원
12  2016-09-27    50000.0       004윤옥자
13  2016-09-26    30000.0          이승미
18  2016-09-14   500000.0          장수강
19  2016-09-14     2291.0  06.18~09.13
20  2016-08-30    30000.0          이규원
21  2016-08-29    50000.0       004윤옥자
22  2016-08-25    90000.0          이승미
23  2016-08-01    30000.0          이규원
24  2016-07-27    50000.0       004윤옥자
25  2016-06-30    30000.0          이규원
26  2016-06-27    50000.0       004윤옥자
27  2016-06-18     1341.0  03.19~06.17
28  2016-06-07  5070378.0          이승미
29  2016-05-30    30000.0          이승미
30  2016-05-30    30000.0          이규원
31  2016-05-27    50000.0       004윤옥자
32  2016-05-02    30000.0          이규원
33  2016-04-27    50000.0       004윤옥자
34  2016-04-26    30000.0          이승미
35  2016-04-22   200000.0          정순주
36  2016-03-30    30000.0          이규원
38  2016-03-28    30000.0          이승미
39  2016-03-28    50000.0       004윤옥자
40  2016-03-19     1127.0  12.19~03.18
42  2016-02-29   300000.0          윤옥자
43  2016-02-29    30000.0          이규원
44  2016-02-29    50000.0       004윤옥자
45  2016-02-25    60000.0          이승미
46  2016-02-03   100000.0          이예정
47  2016-02-01    30000.0          이규원
48  2016-01-27    50000.0       004윤옥자